@import url("./style.css");

@media screen and (max-width: 640px) {
    .mobile{
        width: 85%;
    }    
    .mobile-btn{
        padding: 0px;
    }
    .mobile-btn-bgm{
        padding: 1px;
    }
    .font32MOBILE{
        font-size: 22px;
    }
    .wImgMOBILE{
        width: 36px;
    }
}